Body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    margin: 0;
    padding: 0;
}
Header{
    background-color: rgb(82, 53, 209);
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
}
Header h1{
    color: white;
    font-size: 30px;
    margin-top: 40px;
}
header p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Navigation */
nav{
    height: 30px;
    font-size: 17px;
    width: 100%;
    background-color: rgb(59, 39, 151);
}
nav ul{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    list-style: none;
}
nav ul li{
    float: left;
    width: 120px;
    opacity: .8;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color:white;
    display: block;
}
nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.404);
}
nav ul li ul{
    display: none;
}
nav ul li:hover ul{
    display: block;
}

/* section 1 (Decription) */
#Description {
    text-align: center
}
#Description h3{
    color: #353535;
    font-size: 18px;
    text-align: center;
}
#Description div p{
    color: #565656;
    font-size: 15px;
    text-align: center;
    list-style: none;
    margin-left: 0;
}

/* section 2 (start) */
#start {
    text-align: center;
    background-color: rgb(82, 53, 209);
    margin:0 0 0px 0;
    padding: 20px 0 20px 0;
}
#start p{
    color: #565656;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    list-style: none;
    margin: 0;
}

/*section 3 (options)*/
#options{
    display: flex;
    text-align: center;
    background-color: rgb(82, 53, 209);
    margin:0 0 0px 0;
    padding: 20px 0 20px 0;
}
#options figure{
    margin: auto;
    text-align: center;
    width: 200px;
}
#options figure img{
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: gray 0 0 50px;
    width: 100px;
    height: 100px;
}
#options figure a{
    text-decoration: none;
}
#options figure figcaption{
    color: white;
}

Footer{
    background-color: rgb(59, 39, 151);
    color: white;
    padding: 0;
    margin: 0px;
    font-size: 12px
}